#root {
  margin: 0 auto;
  padding: 0 auto;
}

* {
  font-family: 'poppins', sans-serif !important;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('./assets/b.jpg');
  height: 100vh;

  /* background: linear-gradient(-45deg, #bbc4ea, #e7ce98, #8ce0f1, #e79898);
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite; */
}

/* @keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

html {
  height: 100%;
}